<div class="footer">
    <div>
    <a href="https://www.linkedin.com/in/muralikrishna-jakkamsetti-57bb901b7?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BXlGPAKjWRVSCzhUZHBetpw%3D%3D" target="_blank" aria-label="LinkedIn">
        <fa-icon icon="faLinkedin.d"></fa-icon>
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
    <a href="https://github.com/Muralikrishna23" target="_blank" aria-label="GitHub">
        <fa-icon icon="faGithubAlt"></fa-icon>
      <i class="fab fa-github"></i> GitHub
    </a>
    <a href="https://twitter.com/" target="_blank" aria-label="Twitter">
        <fa-icon icon="faTwitter.d"></fa-icon>
      <i class="fab fa-twitter"></i> Twitter
    </a>
    <a href="https://facebook.com/" target="_blank" aria-label="Facebook">
        <fa-icon icon="faInstagram.d"></fa-icon>
      <i class="fab fa-facebook"></i> Facebook
    </a>
    <a href="https://instagram.com/" target="_blank" aria-label="Instagram">
        <fa-icon icon="faFacebook.d"></fa-icon>
      <i class="fab fa-instagram"></i> Instagram
    </a>
    <br />
    <br />
    <p></p>
    </div>
</div>
<div class="quote">
  <p>Everybody should learn to program , because it teaches you how to think.       - <strong>Steve Jobs</strong> </p><br>

</div>

  
  
