.footer {
    display: flex;
   
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
  }
  
  .footer a {
    margin: 0 10px;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.3s;
    
  }
  
  .footer a:hover {
    color: #2294ff;
  }
  
  .footer i {
    margin-right: 5px;
  }

  .fa {
    padding: 10px; 
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
 p{
 text-align: center;
 background-color: #333;
}