.skills-container {
  display: flex;
  justify-content: left;
  align-items:start;
  flex-wrap: wrap;
  padding: 20px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  transition: transform 0.5s ease; 
  cursor: pointer; 
}
.skill:hover {
  transform: translateX(10px); 
}

.skill:hover {
  transform: translateX(-10px); 
}

.icon {
  font-size: 2.5em; 
  color: #0c6ae4; 
  margin-bottom: 10px; 
}

.skill-name {
  font-size: 2.5em;
  text-align: center; 
}
