/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #ff007f; /* Hot Pink */
    --secondary-color: #a200ff; /* Hot Purple */
    --accent-color: #ff4500; /* Hot Red */
    --background-color: #1e1e1e; /* Dark Background */
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
  /* Light Theme */
body.light-theme {
  background-color: white;
  color: black;
}

button {
  background-color: #007bff;
  color: white;
}

/* Dark Theme */
body.dark-theme {
  background-color: #121212; /* Dark background */
  color: white;
}

button {
  background-color: hotpink;
  color: white;
}
